@font-face {
    font-family: "Blackwood Castle";
    src: url("fonts/Blackwood Castle.ttf");
}

@font-face {
    font-family: "Blackwood Castle Shadow";
    src: url("fonts/Blackwood Castle Shadow.ttf");
}

.greenColor {
    font-family: "Times New Roman";
    color: #7FF308;
    font-size: 18px;
}

.blueColor {
    color: #42c0fb;
    font-family: "Times New Roman";
    font-size: 18px;
}

.redColor {
    color: #D00;
    font-family: "Times New Roman";
    font-size: 18px;
}

.grayColor {
    color: #C0BFBE;
    font-family: "Times New Roman";
    font-size: 18px;
}

.whiteColor {
    color: #fff;
    font-family: "Times New Roman";
    font-size: 18px;
}

body {
    background-image: url(../bg.png);
    background-color: #000;
    background-repeat: repeat;
}

.container {
    margin-top: 5px;
    float: left;
    margin-right: 20px;
    position: absolute;
    padding-left: 20px;
    padding-top: 20px;
}

.container div {
    margin-bottom: inherit;
}

input {
    float: right;
}

div {
    margin-bottom: 5px;
}

select {
    float: left;
    margin-left: 5px;
    margin-bottom: 7.15px;
}

#test {
    float: left;
    margin-left: 10px;
    padding-top: 20px;
}

#textfield {
    margin-left: 16.5px;
}

.checkbox input {
    transform: scale(1.5);
    margin: 6.7px;
}

.checkbox {
    margin-left: 15px;
    float: left;
    height: inherit;
}

.hm {
    width: 600px;
    height: 400px;
    padding-top: 100px;
    position: relative;
    margin: 0 auto;
}

.inputbox {
    float: left;
    height: inherit;
    margin-left: 262.5px;
    padding-top: 20px;
	
}

.inputbox input {
    margin-bottom: inherit;
}

.notes {
    background-color: rgba(0,0,0,0.6);
    margin-right: 0;
    padding-bottom: 50px;
    border: 3px solid #141414;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #000;
}

div .notes textarea {
    height: 100px;
    width: 533px;
}

#test input {
    margin-left: 15px;
    transform: scale(1.5);
}

select {
    width: 7.75em;
}